body {
    display: block;
    height: 100vh;
    padding: 24px;
}

header, footer {
    text-align: center;
}

main {
   
   margin: 0 auto;
}

.input-box {
    margin-bottom: 20px;
}

.container {
    flex-grow: 1;
    
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    border: 1px solid black;
}

.square {
    border: 1px solid black;
    flex: 1;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    background-color: white;
}

.square.active {
    background-color: red;
}