body {
    display: block;
    height: 100vh;
}

header {
    text-align: center;
}

.container {
    flex-grow: 1;
    max-width: 960px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    border: 2px solid grey;
}

.square {
    border: 2px solid red;
    flex: 1;
}